$background-color: #eef0f8;
$background-color-chat: #ffffff;
$background-color-header: #003770;

$btn-default-color: #3d7487;
$btn-danger-color: #800e1a;
$btn-warning-color: #bd9319;

$text-header-color: #ffffff;

$primary-color: #eef0f8;
$background-color-chat: #ffffff;
$primary-color: #000000;
