#body {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;

  .st0 {
    fill: #ffa772;
    stroke: #ffa772;
    stroke-width: 0.25;
    stroke-miterlimit: 10;

    &:hover {
      fill: #ff0000;
      fill-opacity: 0.5;
      stroke: #ff8080;
      cursor: pointer;
    }

    stroke: #ff8080;
  }

  .disabled {
    pointer-events: none;
  }

  .selected {
    fill: #ff0000;
    fill-opacity: 0.5;
    stroke: #ff8080;
    cursor: pointer;
  }

  .st1 {
    fill: #fa8b57;
    stroke: #ffa772;
    stroke-width: 0.25;
    stroke-miterlimit: 10;

    &:hover {
      fill: #ff0000;
      fill-opacity: 0.5;
      stroke: #ff8080;
      cursor: pointer;
    }
  }

  .st2 {
    fill: #5c5773;
  }
  .st3 {
    fill: #fa8b57;
  }
  .st4 {
    display: none;
  }
  .st5 {
    display: inline;
    fill: #ff774a;
  }
}
